    .login {
        background: url("../../public/assets/images/hero-bg.jpg") no-repeat center center;
        background-size: cover;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.719);
        z-index: -1;
    }

    .container {
        position: relative;
        z-index: 1;
    }
    .form-container {
        background: transparent; /* Change background color to semi-transparent */
        padding: 30px;
        border-radius: 8px;
        backdrop-filter: blur(10px); /* Add a slight blur effect */
        border: 4px solid #fff;
        box-shadow: 0 4px 8px rgba(106, 104, 104, 0.778), 0 6px 20px rgba(175, 169, 169, 0.959);
    }
    
    

    .form-control {
        border-color: #9604a9;
        color: #fff; /* Text color */
        padding: 100px;
        background: transparent !important; /* Make background transparent */
        border-radius: 8px; /* Rounded corners */
    }
    

    .form-control::placeholder {
        color: #ffffff; 
    }

    .btn-primary {
        background-color: #9604a9;
        border-color: #9604a9;
    }

    .btn-primary:hover {
        background-color: #760378;
        border-color: #760378;
    }

    label {
        color: #fff; /* Label text color */
        
    }


    h3 {
        color: #fff; /* Heading text color */
    }
